In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('disneyRideTimes.csv')

/var/folders/h1/tr1q_6210b3fh7z5w19c2qvm0000gp/T/ipykernel_16289/4262990351.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('disneyRideTimes.csv')

In [21]:
df.dtypes

rideID            int64
dateTime         object
waitMins        float64
fastPassTime     object
status           object
dtype: object

In [29]:
df[(df['rideID'] == 353437) & (df['status'] == 'Operating')][-50:]

         rideID             dateTime  waitMins fastPassTime     status
1369985  353437  2018-09-13 16:00:14      50.0     18:55:00  Operating
1369986  353437  2018-09-13 16:30:05      50.0     19:25:00  Operating
1369987  353437  2018-09-13 17:00:15      40.0     19:50:00  Operating
1369988  353437  2018-09-13 17:30:04      40.0     20:10:00  Operating
1369989  353437  2018-09-13 18:00:14      60.0     20:25:00  Operating
1369990  353437  2018-09-13 18:30:05      75.0          NaN  Operating
1369991  353437  2018-09-13 19:00:14      40.0          NaN  Operating
1369994  353437  2018-09-13 20:30:04      10.0          NaN  Operating
1369995  353437  2018-09-13 21:00:12       5.0          NaN  Operating
1370020  353437  2018-09-14 09:30:04       5.0     09:35:00  Operating
1370021  353437  2018-09-14 10:00:13       5.0     10:00:00  Operating
1370022  353437  2018-09-14 10:30:05       5.0     10:30:00  Operating
1370023  353437  2018-09-14 11:00:14      20.0     11:10:00  Operating
1370024  353437  2018-09-14 11:30:04      20.0     11:55:00  Operating
1370025  353437  2018-09-14 12:00:14      45.0     12:50:00  Operating
1370026  353437  2018-09-14 12:30:04      45.0     13:40:00  Operating
1370027  353437  2018-09-14 13:00:12      35.0     14:35:00  Operating
1370028  353437  2018-09-14 13:30:13      40.0     15:10:00  Operating
1370029  353437  2018-09-14 14:00:04      40.0     15:45:00  Operating
1370030  353437  2018-09-14 14:30:05      50.0     16:25:00  Operating
1370031  353437  2018-09-14 15:00:14      50.0     17:10:00  Operating
1370032  353437  2018-09-14 15:30:04      50.0     17:40:00  Operating
1370033  353437  2018-09-14 16:00:13      50.0     18:05:00  Operating
1370034  353437  2018-09-14 16:30:04      40.0     18:30:00  Operating
1370035  353437  2018-09-14 17:00:14      65.0     19:05:00  Operating
1370036  353437  2018-09-14 17:30:04      40.0     19:30:00  Operating
1370037  353437  2018-09-14 18:00:14      40.0     19:45:00  Operating
1370038  353437  2018-09-14 18:30:04      25.0     19:55:00  Operating
1370039  353437  2018-09-14 19:00:14      35.0     20:10:00  Operating
1370040  353437  2018-09-14 19:30:05      45.0     20:20:00  Operating
1370041  353437  2018-09-14 20:00:13      30.0     20:35:00  Operating
1370042  353437  2018-09-14 20:30:04      15.0     20:50:00  Operating
1370043  353437  2018-09-14 21:00:14      15.0     21:00:00  Operating
1370044  353437  2018-09-14 21:30:05      15.0     21:30:00  Operating
1370045  353437  2018-09-14 22:00:13      15.0     22:00:00  Operating
1370046  353437  2018-09-14 22:30:13      20.0     22:30:00  Operating
1370047  353437  2018-09-14 23:00:13      20.0     23:00:00  Operating
1370048  353437  2018-09-14 23:30:04      20.0     23:30:00  Operating
1370049  353437  2018-09-15 00:00:12      20.0          NaN  Operating
1370066  353437  2018-09-15 08:30:05       5.0     08:35:00  Operating
1370067  353437  2018-09-15 09:00:14       5.0     09:00:00  Operating
1370068  353437  2018-09-15 09:30:04       5.0     09:30:00  Operating
1370069  353437  2018-09-15 10:00:12       5.0     10:00:00  Operating
1370070  353437  2018-09-15 10:30:04       5.0     10:30:00  Operating
1370071  353437  2018-09-15 11:00:15      70.0     11:00:00  Operating
1370072  353437  2018-09-15 11:30:05      30.0     11:55:00  Operating
1370073  353437  2018-09-15 12:00:14      60.0     12:55:00  Operating
1370074  353437  2018-09-15 12:30:04      70.0     14:05:00  Operating
1370075  353437  2018-09-15 13:00:12      45.0     15:15:00  Operating
1370076  353437  2018-09-15 13:30:04      40.0     16:00:00  Operating