In [1]:
import numpy as np
import pandas as pd

### Cast date data to DateTime Object

In [42]:
waitTime = pd.read_csv("./data/disneyRideTimes.csv")
waitTime.head()

C:\Users\82751\AppData\Local\Temp\ipykernel_14276\1473116668.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  waitTime = pd.read_csv("./data/disneyRideTimes.csv")

   rideID             dateTime  waitMins fastPassTime  status
0  353289  2017-05-22 00:56:31       NaN          NaN  Closed
1  353289  2017-05-22 01:30:15       NaN          NaN  Closed
2  353289  2017-05-22 02:30:16       NaN          NaN  Closed
3  353289  2017-05-22 03:30:15       NaN          NaN  Closed
4  353289  2017-05-22 04:30:06       NaN          NaN  Closed

In [43]:
from datetime import datetime
waitTime["dateTime"] = waitTime["dateTime"].apply(lambda x: datetime.strptime(x,"%Y-%m-%d %H:%M:%S"))
waitTime["day"] = [str(i.year) + "-" + str(i.month) + "-" + str(i.day) for i in waitTime["dateTime"]]
waitTime.head()

   rideID            dateTime  waitMins fastPassTime  status        day
0  353289 2017-05-22 00:56:31       NaN          NaN  Closed  2017-5-22
1  353289 2017-05-22 01:30:15       NaN          NaN  Closed  2017-5-22
2  353289 2017-05-22 02:30:16       NaN          NaN  Closed  2017-5-22
3  353289 2017-05-22 03:30:15       NaN          NaN  Closed  2017-5-22
4  353289 2017-05-22 04:30:06       NaN          NaN  Closed  2017-5-22

In [46]:
weather = pd.read_csv("./data/hourlyWeather.csv")
weather.head()

   resortID             dateTime  rainStatus  feelsLikeF
0  80008297  2017-05-22 00:00:00           0          68
1  80008297  2017-05-22 01:00:00           0          66
2  80008297  2017-05-22 02:00:00           0          64
3  80008297  2017-05-22 03:00:00           0          64
4  80008297  2017-05-22 04:00:00           0          63

In [5]:
weather = pd.read_csv("./data/hourlyWeather.csv")
weather["dateTime"] = weather["dateTime"].apply(lambda x: datetime.strptime(x,"%Y-%m-%d %H:%M:%S"))
weather["day"] = [str(i.year) + "-" + str(i.month) + "-" + str(i.day) for i in weather["dateTime"]]
weather.day.unique().shape

(486,)

### Clean the rides.csv data

In [6]:
rides = pd.read_csv("rideDuration.csv")
rides.land.value_counts(dropna= False)

NaN                    23
Fantasyland            14
Tomorrowland           11
Paradise Pier           9
Mickey's Toontown       7
Main Street, U.S.A.     6
Hollywood Land          6
a bug's land            5
Frontierland            5
Cars Land               5
Adventureland           4
Critter Country         3
Grizzly Peak            3
New Orleans Square      3
Disneyland Resort       3
Pixar Pier              1
Pacific Wharf           1
Buena Vista Street      1
Name: land, dtype: int64

In [47]:
rides.iloc()[[i for i,c in enumerate(rides.name) if type(c) == str and "gallery" in c.lower()]]

,id,parkID,name,land,height,duration_min,popularity
82,17734741,330339,The Disney Gallery,"Main Street, U.S.A.",NaN,15.0,MIA

In [22]:
rides.iloc()[[index for index,content in enumerate(rides.land) if type(content)!=str]]

,id,parkID,name,land,height,duration_min,popularity
15,353329,330339,"Fire Engine, presented by National Car Rental",NaN,NaN,NaN,NaN
26,353351,330339,"Horse-Drawn Streetcars, presented by National ...",NaN,NaN,7.0,NaN
27,353353,330339,"Horseless Carriage, presented by National Car ...",NaN,NaN,3.0,NaN
29,353359,336894,It's Tough to be a Bug!,NaN,NaN,9.0,NaN
43,353395,330339,"Omnibus, presented by National Car Rental",NaN,NaN,3.0,NaN
71,3433651,330339,Pixie Hollow,NaN,NaN,10.0,MIA
75,16203280,336894,World of Color,NaN,NaN,24.0,NaN
76,16204726,330339,Fantasmic!,NaN,NaN,25.0,HD
80,17328049,336894,Red Car Trolley - Hollywood Land,NaN,NaN,11.0,NaN
81,17328050,336894,Red Car Trolley - Carthay Circle,NaN,NaN,11.0,NaN
83,18171939,330339,Trick or Treating at Mickey’s Halloween Party,NaN,NaN,2.0,NaN
84,18237168,330339,Jingle Cruise,NaN,NaN,NaN,NaN
94,18505453,336894,"Disney's ""Moana” Sneak Peek",NaN,NaN,1.0,NaN
96,18693648,336894,"Disney's ""Pirates of the Caribbean: Dead Men T...",NaN,NaN,NaN,NaN
97,18699366,336894,Hero Action Center,NaN,NaN,NaN,NaN
98,18710579,336894,"Disney•Pixar's ""Cars 3"" Sneak Peek",NaN,NaN,1.0,NaN
99,18736067,336894,Summer of Heroes Showcase,NaN,NaN,NaN,NaN
100,18741420,330339,Mickey's Park Rangers on the Rivers of America,NaN,NaN,NaN,NaN
101,18752875,336894,Mater's Graveyard Jam-BOO-ree,NaN,NaN,2.0,NaN
102,18752877,336894,Luigi's Honkin' Haul-O-Ween,NaN,NaN,2.0,NaN
104,18766536,336894,“Thor: Ragnarok” Sneak Peek,NaN,NaN,1.0,NaN
105,18766537,336894,"Disney•Pixar's ""Coco"" Sneak Peek",NaN,NaN,1.0,NaN
109,18946452,336894,"Disney's ""A Wrinkle in Time"" Sneak Peek",NaN,NaN,1.0,NaN

### The Environment Object

In [49]:
def locate_event(time: datetime, time_array):
    # time is a datetime object
    delta_time_array = np.array([(time-i).total_seconds() for i in time_array])
    delta_time_array[(delta_time_array > 0)] = np.inf # only use negative index values
    return np.argmin(np.abs(delta_time_array))

def find_distance(location:int):
    '''
    adjacency_matrix will store the distance from one place to all other places
    
    '''
    return adjacency_matrix[location]


class DisneyEnvironment:
    def __init__(self,waittime_df,weather_df,rides_df):

        # Dataframe for extracting data
        self.waittime = waittime_df
        self.weather = weather_df
        self.ridesinfo = rides_df
        self.rides = rides_df.id
        self.avalible_days = set(self.waittime_df.day.unique())

        # The current day we are in
        self.current_day = None
        self.current_time = None
        self.current_location = None
        self.waittime_today = None
        self.weather_today = None
        self.past_actions = None

        

    def reset(self):

        '''
        OBSERVATIONS: 
        Waittime: Waittime for 110 rides [110]
        Distance: Distance to 18 lands [18]
        Weather: temperature and precipitation [2]
        Past Actions: A vector of 0 and 1 showing rides haven't been done [110]
        '''
        # reset past actions
        self.past_actions = np.zeros(len(self.rides))

        # initialize the day and location
        self.current_day = np.random.choice(list(self.avalible_days))
        self.current_time = datetime.strftime(self.day+ " 08:00:00")
        self.avalible_days.remove(self.current_day)
        self.current_location = 17734741 # The location of disney gallery, which locates at the entrance of the disneyland

        # locate the day
        self.waittime_today = self.waittime[self.waittime.day == self.current_day]
        self.weather_today = self.weather[self.weather.day == self.current_day]

        # for each attraction, return its wait time
        waittime = np.array([])
        for ride_id in self.rides:
            event = locate_event(self.current_time,self.waittime_today[self.waittime_today.rideID == ride_id].dateTime)
            waittime = np.append(waittime,self.waittime_today.iloc()[event].waitMins)
        
        # distance
        distance = find_distance(self.current_location)

        # weather
        event = locate_event(self.current_time,self.weather_today.dateTime)
        weather = [self.weather_today.iloc()[event].rainStatus,self.weather_today.iloc()[event].feelsLikeF]

        observation = np.vstack([waittime,distance,weather,self.past_actions])
        return observation

    def step(self,action):
        
        pass
    def close():
        pass